/home/ivan/pkgbuilds/realevo-linux-tools/realevo-linux-tools-compiler-1.1.0-1-x86_64.pkg.tar.zst
/home/ivan/pkgbuilds/realevo-linux-tools/realevo-linux-tools-lcsproxy-1.1.0-1-x86_64.pkg.tar.zst
/home/ivan/pkgbuilds/realevo-linux-tools/realevo-linux-tools-cmake-plugins-1.1.0-1-x86_64.pkg.tar.zst
/home/ivan/pkgbuilds/realevo-linux-tools/realevo-linux-tools-base-1.1.0-1-x86_64.pkg.tar.zst
