pkgbase = realevo-linux-tools
	pkgdesc = cross compile toolchain to build objects running on sylixos
	pkgver = 1.1.0
	pkgrel = 3
	url = https://armory.acoinfo.com
	arch = x86_64
	license = custom
	makedepends = amr
	makedepends = fd
	depends = systemd
	options = !strip
	source = realevo-linux-tools-v1.1.0.deb::http://10.7.1.31/armory/v1/packages/blob/@realevo/realevo-linux-tools/v/1.1.0/realevo-linux-tools-v1.1.0.deb
	source = compile-linux.tar.gz::http://10.13.42.54/compile-linux.tar.gz
	source = realevo_license_sdk.zip::http://10.7.1.31/armory/v1/packages/blob/@realevo/realevo_license_sdk/v/1.1.0/linux/realevo_license_sdk.zip
	sha1sums = 2b93835a35391146e412fd5ca0044e6a73e4b554
	sha1sums = 7c676ad3efb8e5fb04845c00be68c1f992a9a4a3
	sha1sums = cf5715e217a8ea76fc842b5751e66717590a41fe

pkgname = realevo-linux-tools-compiler
	optdepends = ncurses5-compat-libs: libncurses.so.5 provided for gdb

pkgname = realevo-linux-tools-lcsproxy
	backup = etc/lcsproxy/lcsproxy.conf

pkgname = realevo-linux-tools-cmake-plugins

pkgname = realevo-linux-tools-base
