pkgbase = amr-git
	pkgdesc = A simple download client of armory.
	pkgver = 0.0.1.r1.g24303d
	pkgrel = 1
	url = https://github.com/wyf9661/amr
	arch = any
	license = MIT
	provides = amr
	source = git+https://github.com/wyf9661/amr.git
	sha1sums = SKIP

pkgname = amr-git
