pkgbase = sylixos-cross-compiler-toolchain
	pkgdesc = cross compile toolchain to build objects running on sylixos
	pkgver = 1.0.0
	pkgrel = 1
	url = https://armory.acoinfo.com
	arch = x86_64
	license = custom
	makedepends = armory-cli
	depends = systemd
	options = !strip
	source = @realevo/realevo-linux-tools@1.0.0/realevo-linux-tools-v1.0.0.tar.gz::https://armory.acoinfo.com/realevo-linux-tools-v1.0.0.tar.gz
	sha1sums = 2373368cce23e869eca6be39dcc2d3b38c968cad

pkgname = sylixos-cross-compiler-toolchain

pkgname = sylixos-cross-compiler-lcsproxy
	backup = etc/lcsproxy/lcsproxy.conf

pkgname = sylixos-cross-compiler-senseshield

pkgname = sylixos-cmake-plugins
	provides = cmake-sylixos-plugins
	conflicts = cmake-sylixos-plugins
