pkgbase = go-sylixos-git
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.23.4.r60508.g41b8e6b3
	pkgrel = 1
	url = https://github.com/wyf9661
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go
	conflicts = go
	options = !strip
	options = staticlibs
	source = git+https://github.com/wyf9661/go.git#branch=sylixos-release-branch.go1.23
	sha256sums = SKIP

pkgname = go-sylixos-git
