pkgbase = go-sylixos-git
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.24.2.r30.g688efd
	pkgrel = 1
	url = https://bgithub.xyz/wyf9661
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go
	conflicts = go
	options = !strip
	options = staticlibs
	source = git+https://bgithub.xyz/wyf9661/go.git#branch=sylixos-release-branch.go1.24
	sha256sums = SKIP

pkgname = go-sylixos-git
