pkgbase = go-sylixos-git
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.24rc1.r61923.125916
	pkgrel = 1
	url = https://github.com/go-sylixos
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go
	conflicts = go
	options = !strip
	options = staticlibs
	source = git+https://github.com/go-sylixos/go.git#branch=sylixos-release-branch.go1.24
	sha256sums = SKIP

pkgname = go-sylixos-git
